.menu-color {
  background: #13abce;
}

.img-logo img {
  max-width: 24%;
  margin-top: 2px;
}

.borde {
  padding: 8px 60px;
  border-radius: 26px;
  margin-left: 86px;
}

.menu-item ul {
}
.menu-item ul li {
  position: relative;
}
.menu-item ul li a {
}

.menu-item ul li::after {
  content: "";
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: rgb(240, 217, 214);
  position: absolute;
  transition: 0.7s;
  top: 58px;
}
.menu-item ul li:hover::after {
  width: 100%;
}
/* qor */
.toq {
}
.toq h1 {
  padding-top: 83px;
  font-size: 32px;
  padding-bottom: 25px;
}
.top p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.baton {
  margin-top: 29px;
  padding: 10px 58px;
  margin-bottom: 100px;
  border-radius: 25px;
}
.div-main {
  overflow: hidden;
}

.div-img {
}

.div-img img {
  height: 800px;
  width: 800px;
  border-radius: 50%;
  position: relative;
  top: -143px;
  right: -66px;
}
.hehedar-div {
}
.hehedar-div h4 {
  font-size: 22px;
  font-weight: 100;
}
.hehedar-div h1 {
  width: 57%;
  font-size: 29px;
}
.hehedar-div p {
  width: 50px;
  height: 2px;
  background-color: #a092ed;
}
.hehedar-div h4 {
  font-size: 22px;
  font-weight: 100;
  color: #a092ed;
}
/* prodakt */
.prodakt {
  padding: 10px;
  border-radius: 10px;
  transition: 0.7s;
}
.prodakt h2 {
}
.prodakt span {
  background: rgb(1, 1, 5);
  color: white;
  border-radius: 71px 75px 120px 2px;
  padding: 10px;
}
.prodakt:hover span {
  background-color: antiquewhite;
  color: black;
}
.fa.fa-microphone {
  padding: 11px;
}
.prodakt h3 {
  height: 2px;
  width: 100px;
  background: red;
  margin-top: 10px;
  transition: 0.7s;
}
.prodakt h5 {
}
.prodakt:hover {
  background-color: blue;
  color: bisque;
}
/* div-img */
.div-img1 {
  background-image: url(https://i.ibb.co/tDDMRry/video-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 200px 0;
  position: relative;
}

.div-img1 p {
  font-size: 19px;
  color: #d01111;
  font-weight: 600;
}
.div-img1 h5 {
  color: #0d0b0b;
  font-weight: 900;
  font-size: 33px;
}
.div-img1 h3 {
  height: 2px;
  width: 132px;
  background: red;
  margin: auto;
}
.div-img1 span {
  color: white;
}
.text1 {
  width: 50%;
  margin: auto;
  position: relative;
  top: -113px;
}
.plebaton span{
  background-color: #13abce;
}
.plebaton span i{
  
}




/* ditio pat */


.praking{}
.praking .poro {
    text-align: center;
    margin-top: 52px;
  }
.praking .poro h4 {
    color: blue;
  }
.praking .poro h1{}
.praking .poro h5 {
    height: 2px;
    width: 100px;
    background: #0004ff;
    margin: auto;
  }


}
.poro p{

    padding-top: 20px;
    max-width: 50%;
    margin: auto;
    font-weight: 1;

}
.poro p {
    width: 60%;
    margin: auto;
    margin-top: 20px;
  }
  .pp h5 {
    font-size: 15px;
    padding-bottom: 11px;
  }
  .hh .btn.btn-primary {
    margin-top: 47px;
    padding-left: 34px;
    padding-right: 34px;
    border-radius: 22px;
  }
  .pp h2 {
    font-size: 51px;
    font-weight: 500;
    margin-bottom: 35px;
  }
  .btn.btn-primary {
    padding-left: 33px;
    padding-right: 33px;
    border-radius: 17px;
    transition: .7s;
  }

  .hover :hover{
    background: #0004ff;
  }
.hhr:hover{
  background-color: blue;
}
/* selaider */
.selaider{
  background-image: url(https://i.ibb.co/KxrYV23/free-bg.jpg);
  background-size: cover;
  background-position: center;
  padding: 100px;

  
}
.selaider p {
  text-align: center;
  color: white;
}
.selaider h1 {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  color: white;
  line-height: 30px;
}

.selaider h4 {
  height: 2px;
  width: 170px;
  background-color: black;
  margin: auto;
    margin-top: auto;
  margin-top: 17px;
}
.selaider h6 {
  color: white;
  font-size: 17px;
  margin-bottom: 35px;
}
.ll {
  background-color: blue;
  margin-top: 101px;
  text-align: center;
}
.k h3 {
  color: white;
  margin-bottom: 57px;
}

.k p {
  color: white;
  margin-bottom: 76px;
}
.k {
  margin: 35px;
}
#exampleFormControlInput1 {
  border-radius: 20px;
}
.btn-outline-primary.pos {
  position: relative;
  margin-left: 318px;
  margin-top: -97px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 20px;
}
.whit p {
  color: wheat;
}
.whit p {
  color: wheat;
}
h3 {
  color: wheat;
}
.dok {
  margin-top: 100px;
}
